/* You can add global styles to this file, and also import other style files */
label.xng-breadcrumb-trail {
    color: orange;
}

button.primary:disabled {
    button[disabled]{
        background-color: #000000;
        color: black;
    }
}


button.btn:disabled {
    
    opacity: 0.3;
}

input[type=radio].form-check-input {
    border-color: #000000;
}

/* Importing Bootstrap SCSS file. */
//@import 'bootstrap/scss/bootstrap';